body {
    text-align: center;
    align-items: center;
}

.button {
    left: 0;
}

.__form {
    padding: 20px;
    position: fixed;
    top: 45%;
    left: 15%;
    z-index: 1;
    background-color: #e9e9eb;
    width: 75%;
    margin-bottom: 15px;
    border-radius: 50px;
}

.__form2 {
    padding: 20px;
    position: fixed;
    top: 45%;
    left: 5%;
    z-index: 1;
    background-color: #e9e9eb;
    width: 80%;
    margin-bottom: 15px;
    border-radius: 50px;
}

.__formControl {
    display: flex !important;
    flex-direction: row !important;
}

.__formControl2 {
    display: flex !important;
}

.__input {
    flex: 1;
    margin-right: 10px;
}

.__btn {
    width: 50%;
    left: 20%;
}

.__iconButton {
    flex: 0;
}